<th:block th:fragment>
    <div class="md-background">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <th:block sec:authorize="isAnonymous()">
            <a class="navbar-brand text-white" th:href="@{/}">My Docs</a>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <a class="navbar-brand text-white" th:href="@{/home}">My Docs</a>
            </th:block>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <th:block sec:authorize="isAnonymous()">
                        <li class="nav-item active">
                            <a class="nav-link text-white" th:href="@{/register}">
                                <span th:text="#{navbar.register}"></span>
                                <span class="sr-only">(current)</span></a>
                        <li class="nav-item active">
                            <a class="nav-link text-white" th:href="@{/login}">
                                <span th:text="#{navbar.login}"></span>
                                <span class="sr-only">(current)</span></a>
                        </li>
                        </li>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        <li class="nav-item active">
                            <a class="nav-link text-white" th:href="@{/home}">
                                <span th:text="#{navbar.home}"></span>
                                <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown"
                               name="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span th:text="#{navbar.subjects}"></span>
                            </a>
                            <div class="dropdown-menu md-background" aria-labelledby="navbarDropdown">
                                <a class="nav-link text-white" th:href="@{/subject/add}">
                                    <span th:text="#{navbar.add}"></span>
                                </a>
                                <a class="nav-link text-white" th:href="@{/subject/all}">
                                    <span th:text="#{navbar.all}"></span>
                                </a>
                            </div>
                        </li>

                        <th:block sec:authorize="hasAuthority('MODERATOR')">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown"
                                   name="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span th:text="#{navbar.subject.types}"></span>
                                </a>
                                <div class="dropdown-menu md-background" aria-labelledby="navbarDropdown">
                                    <a class="nav-link text-white" th:href="@{/subject-types/add}">
                                        <span th:text="#{navbar.add}"></span>
                                    </a>
                                    <a class="nav-link text-white" th:href="@{/subject-types/all}">
                                        <span th:text="#{navbar.all}"></span>
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown"
                                   name="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span th:text="#{navbar.document.types}"></span>
                                </a>
                                <div class="dropdown-menu md-background" aria-labelledby="navbarDropdown">
                                    <a class="nav-link text-white" th:href="@{/document-types/add}">
                                        <span th:text="#{navbar.add}"></span>
                                    </a>
                                    <a class="nav-link text-white" th:href="@{/document-types/all}">
                                        <span th:text="#{navbar.all}"></span>
                                    </a>
                                </div>
                            </li>
                        </th:block>

                        <th:block sec:authorize="hasAuthority('ADMIN')">
                            <li class="nav-item active">
                                <a class="nav-link text-white" th:href="@{/users/show}">
                                    <span th:text="#{navbar.users}"></span>
                                    <span class="sr-only">(current)</span></a>
                            </li>
                        </th:block>
                    </th:block>
                </ul>

                <ul class="text-right list-inline">
                    <th:block sec:authorize="isAuthenticated()">
                        <li class="list-inline-item">
                            <form th:action="@{/logout}" th:method="post" class="form-inline my-2 my-lg-0">
                                <span class="md-dark-text font-weight-bold" sec:authentication="name"></span>
                                <button class="border-0 nav-link md-background" th:text="#{navbar.logout}">
                                </button>
                            </form>
                        </li>
                    </th:block>
                    <li class="list-inline-item">
                        <form th:object="${locale}" class="form-inline my-2 my-lg-0">
                            <span class="pr-1" th:utext="#{lang.change}"></span>
                            <select class="rounded" id="locales" th:field="*{language}">
                                <option th:value="'en'" th:text="#{lang.eng}"></option>
                                <option th:value="'bg'" th:text="#{lang.bg}"></option>
                            </select>
                        </form>
                    </li>
                </ul>
            </div>
    </div>
    </nav>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption != '') {
                    // window.location.replace(window.location + '?lang=' + selectedOption);
                    var paramName = "lang"
                    var url = window.location.href;
                    if (url.indexOf(paramName + "=") < 0) {
                        if (url.indexOf('?') > -1) {
                            url += '&' + paramName + '=' + selectedOption;
                        } else {
                            url += '?' + paramName + '=' + selectedOption;
                        }
                    }
                    else {
                        var prefix = url.substring(0, url.indexOf(paramName));
                        var suffix = url.substring(url.indexOf(paramName));
                        suffix = suffix.substring(suffix.indexOf("=") + 1);
                        suffix = (suffix.indexOf("&") >= 0) ? suffix.substring(suffix.indexOf("&")) : "";
                        url = prefix + paramName + "=" + selectedOption + suffix;
                    }
                    window.location.href = url;
                }
            });
        });
    </script>
</th:block>