<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <th:block th:include="~{fragments/head}"></th:block>
    </head>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
    </hr>
</header>
<main>
<div class="jumbotron md-background mt-4">
    <a class="navbar-brand text-white" th:href="@{/}">My Docs</a>
    <h1 class="text-info c">Something went wrong!</h1>
</div>
</main>
</body>
</html>