<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body class="md-background-m-img">
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>
    <main class="mt-3 mb-3">
        <div class="jumbotron md-background mt-2">
            <h1>My Docs</h1>
            <hr/>
            <div class="row d-flex justify-content-between">
                <div class="documents-navigation col-md-3">
                    <form class="mt-3">
                        <div class="custom-control custom-radio mt-3 ">
                            <input type="radio" id="allRadio" name="selection"
                                   class="custom-control-input"
                                   value="all">
                            <label class="h4 custom-control-label" for="allRadio">All</label>
                        </div>
                        <th:block th:each="subject : ${subjects}" th:object="${subject}">
                            <div class="custom-control custom-radio mt-2 ">
                                <input type="radio" th:id="|*{name.toLowerCase()}Radio|" name="selection"
                                       class="custom-control-input"
                                       th:value="*{id}">
                                <label class="h4 custom-control-label" th:for="|*{name.toLowerCase()}Radio|"
                                       th:text="*{name}"></label>
                                <a th:href="@{/document/add/{subjectId}(subjectId=*{id})}"
                                   class="btn btn-success border-0 font-weight-bolder btn-lg pt-0 pb-0 text-white ml-1">+</a>
                            </div>
                        </th:block>
                    </form>
                </div>
                <div class="data col-md-8">
                    <div class="documents-data"></div>
                </div>
            </div>
        </div>
        <input type="hidden" id="no-documents-message" th:value="#{home.message.noDocuments.subject}"></input>
        <input type="hidden" id="no-documents-message-all" th:value="#{home.message.noDocuments}"></input>
    </main>
    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
<script type="text/javascript">
    function formatDocument(document) {
        return '<div class="document">'
            + '<div class="text-center">'
            + '<a href="/document/details/' + document.id + '"><img src="' + document.subject.subjectType.imageUrl
            + '" class="document-image-home img-thumbnail px-auto" alt="' + document.name + '"/></a>'
            + '</div>'
            + '<h6 class="text-center font-weight-bold mt-3" >' + document.title + '</h6>'
            + '<h6 class="text-center font-weight-bold mt-3" >' + 'Type: ' + document.documentType.title + '</h6>'
            + '<h6 class="text-center font-weight-bold mt-3" >' + 'Expired on: ' + document.expiredDate + '</h6>'
            + '</div>'
    }

    function loadDocuments(json, subjectId) {
        $('.documents-data').empty();

        if (json.length === 0) {
            let message = $('#no-documents-message').val()
            if (subjectId == 'all'){
                message = $('#no-documents-message-all').val()
            }

            $('.documents-data').append('<h1 class="text-center font-weight-bold">' + message + '</h1>')
        } else {
            for (let i = 0; i < json.length; i += 3) {
                $('.documents-data').append('<div class="documents-row row d-flex justify-content-around mt-2">');
                if (i < json.length) $('.documents-data .documents-row:last-child').append(formatDocument(json[i]));
                if (i + 1 < json.length) $('.documents-data .documents-row:last-child').append(formatDocument(json[i + 1]));
                if (i + 2 < json.length) $('.documents-data .documents-row:last-child').append(formatDocument(json[i + 2]));
            }
        }
    }

    $(document).ready(function () {
        $('#allRadio').attr('checked', true);
        let subjectId = $('input[type=radio][name=selection]').val();
        fetch('/document/fetch/all')
            .then((response) => response.json())
            .then((json) => {
                loadDocuments(json, subjectId);
            })
    });

    $('input[type=radio][name=selection]').change(function () {
        let subjectId = $(this).val();
        let subject = $(this).text();

        fetch('/document/fetch/' + subjectId)
            .then((response) => response.json())
            .then((json) => {
                loadDocuments(json, subjectId);
            })
    });
</script>
</body>
</html>