<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body class="md-background-m-img">
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>
    <main class="mt-3">
        <div class="jumbotron md-background mt-4">
            <h1>My Docs</h1>
            <hr/>
            <div class="row d-flex justify-content-between">
                <div class="documents-navigation col-md-3">
                    <form class="mt-3">
                        <div class="custom-control custom-radio mt-3 ">
                            <input type="radio" id="allRadio" name="selection"
                                   class="custom-control-input"
                                   value="all">
                            <label class="h4 custom-control-label" for="allRadio">All</label>
                        </div>
                        <th:block th:each="subject : ${sbjects}" th:object="${subject}">
                            <div class="custom-control custom-radio mt-3 ">
                                <input type="radio" th:id="|*{name.toLowerCase()}Radio|" name="selection"
                                       class="custom-control-input"
                                       th:value="*{id}">
                                <label class="h4 custom-control-label" th:for="|*{name.toLowerCase()}Radio|"
                                       th:text="*{name}"></label>
                                <a th:href="@{/document/add}"
                                   class="btn btn-success font-weight-bold text-white ml-1">Add</a>
                            </div>
                        </th:block>
                    </form>
                </div>
                <div class="data col-md-8">
                    <div class="documents-data"></div>
                </div>
            </div>
        </div>

        <footer>
            <th:block th:include="~{fragments/footer}"></th:block>
        </footer>
    </main>
</div>
<script type="text/javascript">
    function formatDocument(document) {
        return '<div class="document">'
            + '<div class="text-center">'
            + `<a href="/documents/details/${document.id}"><img src="${document.subject.subjectType.imageUrl}" class="document-image-home img-thumbnail px-auto" alt="${document.name}"/></a>`
            + '</div>'
            + `<h5 class="text-center font-weight-bold mt-3" th:text="Name: ${document.title}"></h5>`
            + `<h5 class="text-center font-weight-bold mt-3" th:text="Name: ${document.documentType.title}"></h5>`
            + `<h5 class="text-center font-weight-bold mt-3" th:text="Name: ${document.expiredDate}"></h5>`
            + `<h5 class="text-center font-weight-bold mt-3" th:text="Name: ${document.expiredTime}"></h5>`
            + '</div>'
    }

    $(document).ready(function () {
        $('#allRadio').attr('checked', true);

        fetch('http://localhost:8000/documents/fetch/all')
            .then((response) => response.json())
            .then((json) => {
                $('.documents-data').empty();

                if (json.length === 0) {
                    $('.documents-data').append(`<h1 class="text-center font-weight-bold">There are no documents in the ${category} category.</h1>`)
                } else {
                    for (let i = 0; i < json.length; i += 3) {
                        $('.documents-data').append('<div class="documents-row row d-flex justify-content-around mt-5">');
                        if(i < json.length) $('.documents-data .documents-row:last-child').append(formatDocument(json[i]));
                        if(i + 1 < json.length) $('.documents-data .documents-row:last-child').append(formatDocument(json[i + 1]));
                        if(i + 2 < json.length) $('.documents-data .documents-row:last-child').append(formatDocument(json[i + 2]));
                    }
                }
            })
    });

    $('input[type=radio][name=selection]').change(function () {
        let categoryId = $(this).val();
        let category = $(this).text();

        fetch('http://localhost:8000/documents/fetch/' + categoryId)
            .then((response) => response.json())
            .then((json) => {
                $('.documents-data').empty();

                if (json.length === 0) {
                    $('.documents-data')
                        .append(`<h1 class="text-center font-weight-bold">There are no documents in the ${category} category.</h1>`)
                } else {
                    for (let i = 0; i < json.length; i += 3) {
                        $('.documents-data').append('<div class="documents-row row d-flex justify-content-around mt-5">');
                        if(i < json.length) $('.documents-data .documents-row:last-child').append(formatDocument(json[i]));
                        if(i + 1 < json.length) $('.documents-data .documents-row:last-child').append(formatDocument(json[i + 1]));
                        if(i + 2 < json.length) $('.documents-data .documents-row:last-child').append(formatDocument(json[i + 2]));
                    }
                }
            })
    });
</script>
</body>
</html>