<th:block th:fragment>
    <div class="col col-md-12">
        <img th:src="${model.subject.subjectType.imageUrl}" width="70" height="70" alt="Subject type">
        <h4 th:text="'Subject: ' + ${model.subject.name}"></h4>
    </div>
    <div class="row">
        <div class="col col-md-12 mt-2">
            <h5 th:text="'Type: ' + ${model.documentType.title}"></h5>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12 mt-2">
            <h2 th:text="${model.title}"></h2>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12 mt-2">
            <h5 th:text="'Date: ' + ${model.date}"></h5>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12 mt-2">
            <h2 th:text="'Expired on: ' + ${model.expiredDate}"></h2>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12 mt-2">
            <h6 th:text="'Desciption: ' + ${model.description}"></h6>
        </div>
    </div>
</th:block>